
// Reusable
// Grey
$grey: (
    "grey-5": #d8d8d8,
    "grey-4": #A8A8A8,
    "grey-3": #929292,
    "grey-2": #787878,
    "grey-1": #5a5a5a,
);

// Black


// Default Color gradients
$fromColor: #0000007e 48.74%;
$toColor: #00000000 76.93%;

// Profile Colors
$profileInner: #838383;


