
// Reusable
// Grey
$grey: (
    "grey-5": #d8d8d8,
    "grey-4": #A8A8A8,
    "grey-3": #929292,
    "grey-2": #787878,
    "grey-1": #5a5a5a,
);


// Color gradients
$forGradBlack-1: #0000007e;
$forGradBlack-2: #00000000;


$landingFromColor: $forGradBlack-1 48.74%;
$landingToColor: $forGradBlack-2 76.93%;

$headerTextFromColor: $forGradBlack-1 54.55%;
$headerTextToColor:$forGradBlack-2 73.23%;

// Profile Colors
$profileInner: #838383;
$headerTextColor: #cccccc;


