
.container-main {
    width: 100vw;
    height: 100vh;
    background-color: #A8A8A8;
    position: relative;
    overflow-x: hidden;
}

.container-main::before {
    position: absolute;
    content: " ";
    width: 50vw;
    height: 50vh;
    background: linear-gradient(312.9deg, rgba(0, 0, 0, 0.493) 48.74%, rgba(0, 0, 0, 0) 76.93%), #A8A8A8;
    z-index: 2;
    animation: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms forwards slide-in-left;
}

.container-main::after {
    position: absolute;
    right: 0;
    top: 0;
    content: " ";
    width: 50vw;
    height: 50vh;
    background: linear-gradient(-312.9deg, rgba(0, 0, 0, 0.493) 48.74%, rgba(0, 0, 0, 0) 76.93%), #5a5a5a;
    /* background-color: #5a5a5a; */
    z-index: 2;
    animation: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1250ms forwards slide-in-right;
}

.header-main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    overflow-x: hidden;
}
.header-main::before {
    position: absolute;
    bottom: 0;
    content: " ";
    width: 50vw;    
    height: 50vh;
    /* background-color: #929292; */
    background: linear-gradient(calc(-312.9deg - 180deg), rgba(0, 0, 0, 0.493) 48.74%, rgba(0, 0, 0, 0) 76.93%), #929292;
    z-index: 1;
    animation: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 450ms forwards slide-in-left;
}

@keyframes slide-in-left {
    from  {
        left: 0;
    }
    to {
        left: -50%;
    }
    
}

.header-main::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: " ";
    width: 50vw;
    height: 50vh;
    /* background-color: #797979; */
    background: linear-gradient(calc(312.9deg - 180deg), rgba(0, 0, 0, 0.493) 48.74%, rgba(0, 0, 0, 0) 76.93%), #797979;

    z-index: 1;
    animation: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1100ms forwards slide-in-right;
}

@keyframes slide-in-right {
    from  {
        right: 0;
    }
    to {
        right: -50%;
    }
}

    