* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
}

.container {
    position: relative;
    min-height: 100vh;
    background-color: grey;
}
div {
    font-size: 50px;
}