
@media (max-width: 1400px){
    .text {
        font-size: 9rem;
    }
}

@media (max-width: 1330px){
    .text {
        font-size: 8rem;
    }
}
@media (max-width: 650px){
    .text {
        font-size: 5rem;
    }
}


@media (max-width: 360px){
    .text {
        font-size: 4rem;
    }
}

@media (max-width: 650px){
   .image-2 {
       background-position: right;
   }
}



