
// Width viewport
$vpWidth: (
    "width-10": 100vw,
    "width-9": 90vw,
    "width-5": 50vw,
);

// Height viewport
$vpHeight: (
    "height-10": 100vh,
    "height-5": 50vh,
);

// Width percent
$perWidth: (
    "width-10": 100%,
    "width-8": 80%,
);

// Height percent
$perHeight: (
    "height-10": 100%,
    "height-8": 80%,
);

// Width pixel
$pxWidth: (
    "width-4": 400px,
);

// Height pixel
$pxHeight: (
    "height-4": 400px,
);




